node-config/flows.backup
[{"type":"tab","id":"f1e038ad.0e1fc8","label":"Sheet 1"},{"id":"3d58395f.c2a7c6","type":"salesforce-credentials","screen_name":"khowling@sap.demo"},{"id":"c5fdb4d.f3a0248","type":"rpi-gpio out","name":"Alarm","pin":"12","x":608,"y":139,"z":"f1e038ad.0e1fc8","wires":[]},{"id":"dd910ee1.226ef","type":"salesforce in","salesforce":"3d58395f.c2a7c6","input_type":"StreamingAPI","sobject":"","sobject_fields":"","soql":"","interval":"10","push_topic":"ChatterFeed_All","active":true,"x":157,"y":49,"z":"f1e038ad.0e1fc8","wires":[["363e5523.c9c1aa"]]},{"id":"363e5523.c9c1aa","type":"function","name":"Extract Body","func":"\nreturn {payload: msg.payload.Body__c, original: msg.payload};","outputs":1,"x":218,"y":147,"z":"f1e038ad.0e1fc8","wires":[["d856bb53.27a948"]]},{"id":"d856bb53.27a948","type":"sentiment","name":"","x":292,"y":210,"z":"f1e038ad.0e1fc8","wires":[["e5e3d20a.1a1c3"]]},{"id":"e5e3d20a.1a1c3","type":"function","name":"Sentiment to Alarm time","func":"\nif (msg.sentiment.score < 0) {\n\t\n\tvar body = {\"body\":{\n      \"messageSegments\":[{\n            \"type\":\"Text\",\n            \"text\": \"Sentiment Score: \" + msg.sentiment.score + \", your manage has been alerted!  Negative words: \" + JSON.stringify(msg.sentiment.negative)\n         }]\n\t}};\n\treturn [{payload: 1},{payload: body, feedElementId: msg.original.FeedItemId__c}];\n} \n","outputs":"2","x":373,"y":277,"z":"f1e038ad.0e1fc8","wires":[["4461397c.bb9ec8"],["ca9bf995.356408"]]},{"id":"4461397c.bb9ec8","type":"trigger","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"3","extend":"false","units":"s","name":"Alarm On","x":536,"y":210,"z":"f1e038ad.0e1fc8","wires":[["c5fdb4d.f3a0248"]]},{"id":"ca9bf995.356408","type":"salesforce out","salesforce":"3d58395f.c2a7c6","output_type":"chatter","output_sobject":"","upsert_field":"","x":569,"y":366,"z":"f1e038ad.0e1fc8","wires":[[]]}]